.portfolio__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    padding: 100px 0;
    background: #1a1a1a;
}

.portfolio__grid {
    margin-top: 40px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.portfolio__grid_item {
    box-sizing: border-box;
    flex-basis: 30%;
    position: relative;
}

.portfolio__image {
    max-width: 100%;
}

.portfolio__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d43f52;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    transition: 0.5s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2em;
    align-items: center;
    box-sizing: border-box;
}

.portfolio__grid_item:hover .portfolio__overlay {
    opacity: 0.7;
    width: 90%;
    height: 90%;
}
.portfolio__forward {
    margin-top: 2em;
}

@media screen and (max-width: 1100px){
    .portfolio__grid_item {
        flex-basis: 46%;
    }
}

@media screen and (max-width: 700px){
    .portfolio__grid {
        width: 80%;
    }
    .portfolio__grid_item {
        flex-basis: 90%;
    }
}