.portfolio__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    padding: 100px 0;
    background: #1a1a1a;
}

.portfolio__grid {
    margin-top: 40px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.portfolio__grid_item {
    box-sizing: border-box;
    flex-basis: 30%;
    height: 330px;
}

.portfolio__grid_item:first-child {
    background: url("../../assets/works/creative.png") center/cover no-repeat;
}

.portfolio__grid_item:nth-child(2) {
    background: url("../../assets/works/e-market.png") center/cover no-repeat;
}

.portfolio__grid_item:nth-child(3) {
    background: url("../../assets/works/parallax.png") center/cover no-repeat;
}

.portfolio__grid_item:nth-child(4) {
    background: url("../../assets/works/test.png") center/cover no-repeat;
}

.portfolio__grid_item:nth-child(5) {
    background: url("../../assets/works/todo.png") center/cover no-repeat;
}

@media screen and (max-width: 1100px){
    .portfolio__grid_item {
        height: 250px;
    }
}

@media screen and (max-width: 850px){
    .portfolio__grid_item {
        height: 200px;
    }
}

@media screen and (max-width: 700px){
    .portfolio__grid_item {
        flex-basis: 46%;
    }
}

@media screen and (max-width: 420px){
    .portfolio__grid {
        width: 80%;
    }
    .portfolio__grid_item {
        flex-basis: 90%;
    }
}