.navigator {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 10px;
    top: calc(50% - 60px);
    z-index: 5;
}

.navigator__items {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    margin-bottom: 20px;
    opacity: 0.7;
    z-index: 6;
    cursor: pointer;
}

.navigator__items::after {
    content: attr(title);
    position: absolute;
    top: -5px;
    right: -5px;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    border-radius: 5px;
}

.navigator__items:hover::after {
    opacity: 1;
    visibility: visible;
}